services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: qdrant
    ports: [ "6333:6333","6334:6334" ]
    restart: unless-stopped

  wasty-chat:
    image: wasty-chat:latest
    build: wasty-chat
    container_name: wasty-chat
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - QDRANT_URL=http://qdrant:6333
      - QDRANT_COLLECTION=wasty_docs
    depends_on: [ qdrant ]
    stdin_open: true
    tty: true
    volumes:
      - ./data:/app/data
    command: [ "bash","-lc","python classifier.py" ]

  wasty-api:
    image: wasty-api:latest
    build: wasty-api
    container_name: wasty-api
    environment:
        - OPENAI_API_KEY=${OPENAI_API_KEY}
        - QDRANT_URL=http://qdrant:6333
        - QDRANT_COLLECTION=wasty_docs
    depends_on: [ qdrant ]
    ports: [ "8080:8080" ]
volumes:
  qdrant_storage: